openapi: 3.1.0
info:
  title: VIA AIR — API interna (v1)
  version: 1.0.0
  description: |
    Fachada oficial sobre o motor aéreo (Oner/OnerTravel) e o financeiro VIA AIR (Asaas/Pix).
    Consumida pela Sky Hub e por outros sistemas internos da VIA AIR.

    **Escopo da v1: somente aéreo** — busca, checkout, passageiros, pagamento (cartão e Pix)
    e pedidos. Hotéis, carros, seguro viagem, produtos e pacotes **não** estão expostos nesta
    versão; as permissões existem no modelo de token, mas não há endpoint publicado.

    Regras gerais:
      * Toda chamada exige `Authorization: Bearer vai_live_...` (ou `vai_test_...`).
      * Chamadas que alteram estado aceitam `Idempotency-Key`.
      * `X-Correlation-Id` é aceito e sempre devolvido.
      * O QR Code Pix entregue ao cliente é sempre da VIA AIR (Asaas), nunca do fornecedor.
      * PAN e CVV nunca são gravados, registrados ou devolvidos.
servers:
  - url: https://pedidos.viaair.tur.br/api/public/internal/v1
    description: Produção
security:
  - bearerAuth: []
tags:
  - name: Multitrecho
    description: Viagens com várias pernas; cada perna é uma reserva independente agrupada por groupId.
  - name: Saúde
  - name: Voos
  - name: Checkout
  - name: Pagamentos
  - name: Pedidos
paths:
  /health:
    get:
      tags: [Saúde]
      summary: Situação da API e dos serviços
      description: Exige permissão `flights:read`.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok, degraded] }
                  version: { type: string, example: "1.0.0" }
                  time: { type: string, format: date-time }
                  services:
                    type: object
                    properties:
                      oner: { type: string, enum: [up, degraded, down, unknown] }
                      asaas: { type: string, enum: [configured, not_configured] }
        "401": { $ref: "#/components/responses/Erro" }
  /oner/status:
    get:
      tags: [Saúde]
      summary: Situação da sessão do fornecedor
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  available: { type: boolean }
                  session: { type: string, enum: [active, inactive] }
                  lastValidatedAt: { type: string, format: date-time, nullable: true }
                  lastUsedAt: { type: string, format: date-time, nullable: true }
                  expiresAt: { type: string, format: date-time, nullable: true }
                  message: { type: string, nullable: true }
        "503": { $ref: "#/components/responses/Erro" }
  /airports/search:
    get:
      tags: [Voos]
      summary: Autocomplete de aeroportos
      parameters:
        - { name: query, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 60 } }
        - { name: isDeparture, in: query, schema: { type: boolean, default: true } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  airports:
                    type: array
                    items: { $ref: "#/components/schemas/Airport" }
        "422": { $ref: "#/components/responses/Erro" }
  /flights/search:
    post:
      tags: [Voos]
      summary: Pesquisa de voos (ida ou ida e volta)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FlightSearchRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlightSearchResponse" }
        "422": { $ref: "#/components/responses/Erro" }
        "503": { $ref: "#/components/responses/Erro" }
  /flights/inbound:
    post:
      tags: [Voos]
      summary: Volta disponível para a ida escolhida
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [searchId, outboundOfferId]
              properties:
                searchId: { type: string }
                outboundOfferId: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchId: { type: string }
                  outboundOfferId: { type: string }
                  totalCount: { type: integer }
                  inbound:
                    type: array
                    items: { $ref: "#/components/schemas/FlightOffer" }
        "404": { $ref: "#/components/responses/Erro" }
  /checkouts:
    post:
      tags: [Checkout]
      summary: Cria o checkout a partir de uma oferta
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [offerId]
              properties:
                offerId: { type: string, description: Oferta de ida }
                inboundOfferId: { type: string, nullable: true, description: Oferta de volta }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutId: { type: string, example: chk_01H8XK3P2Q }
                  status: { type: string, enum: [CREATED] }
                  roundTrip: { type: boolean }
                  createdAt: { type: string, format: date-time }
        "404": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}:
    get:
      tags: [Checkout]
      summary: Conteúdo do checkout
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Checkout" }
        "404": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/passengers:
    put:
      tags: [Checkout]
      summary: Envia os passageiros
      parameters:
        - { $ref: "#/components/parameters/CheckoutId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [passengers]
              properties:
                passengers:
                  type: array
                  minItems: 1
                  maxItems: 9
                  items: { $ref: "#/components/schemas/Passenger" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutId: { type: string }
                  passengersSaved: { type: integer }
        "422": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/revalidate:
    post:
      tags: [Checkout]
      summary: Reconfere a tarifa
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expectedAmount]
              properties:
                expectedAmount:
                  type: number
                  description: Total exibido ao cliente, para comparação com o valor atual.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      status: { type: string, enum: [VALID] }
                      amount: { type: number }
                  - type: object
                    properties:
                      status: { type: string, enum: [PRICE_CHANGED] }
                      previousAmount: { type: number }
                      currentAmount: { type: number }
                      difference: { type: number }
                  - type: object
                    properties:
                      status: { type: string, enum: [EXPIRED] }
                      previousAmount: { type: number }
                      currentAmount: { type: number, nullable: true }
  /checkouts/{checkoutId}/payment-methods:
    get:
      tags: [Pagamentos]
      summary: Formas de pagamento realmente liberadas
      description: |
        Vem da configuração real do carrinho. Voo com embarque em até 72 horas devolve
        `pixOnly: true`, a lista sem `CARD` e o motivo em `pixOnlyReason`.
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutId: { type: string }
                  methods:
                    type: array
                    items: { $ref: "#/components/schemas/PaymentMethod" }
                  pixOnly: { type: boolean }
                  pixOnlyReason: { type: string, nullable: true }
  /checkouts/{checkoutId}/installments:
    post:
      tags: [Pagamentos]
      summary: Parcelamento informado pela operadora
      description: Exige um cartão já tokenizado (`cardToken`/`cardKey`).
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, cardToken, cardKey]
              properties:
                amount: { type: number }
                cardToken: { type: string }
                cardKey: { type: string }
                multipleCards: { type: boolean, default: false }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  installments:
                    type: array
                    items: { $ref: "#/components/schemas/InstallmentOption" }
        "422": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/payments/card-token:
    post:
      tags: [Pagamentos]
      summary: Tokeniza o cartão no cofre da operadora
      description: |
        PAN e CVV trafegam apenas nesta chamada, sobre TLS, e seguem direto para o cofre
        (Vault) da operadora. Não são gravados, registrados em log, auditados nem devolvidos.
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [holderName, number, cvv, expirationMonth, expirationYear, documentNumber]
              properties:
                holderName: { type: string }
                number: { type: string }
                cvv: { type: string }
                expirationMonth: { type: string, example: "12" }
                expirationYear: { type: string, example: "2029" }
                documentType: { type: integer, default: 1, description: 1 = CPF }
                documentNumber: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardToken" }
        "402": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/payments/card:
    post:
      tags: [Pagamentos]
      summary: Pagamento com 1 a 3 cartões
      description: A soma de `cards[].amount` precisa ser exatamente `totalAmount`.
      parameters:
        - { $ref: "#/components/parameters/CheckoutId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cards, totalAmount, payer]
              properties:
                cards:
                  type: array
                  minItems: 1
                  maxItems: 3
                  items: { $ref: "#/components/schemas/CardPayment" }
                totalAmount: { type: number }
                payer: { $ref: "#/components/schemas/Payer" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [PAID] }
                  method: { type: string, enum: [CARD] }
                  amount: { type: number }
                  locator: { type: string }
                  orderId: { type: string, nullable: true }
        "402": { $ref: "#/components/responses/Erro" }
        "409": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/payments/pix:
    post:
      tags: [Pagamentos]
      summary: Gera o Pix VIA AIR (Asaas) para o cliente
      parameters:
        - { $ref: "#/components/parameters/CheckoutId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, payer]
              properties:
                amount: { type: number }
                payer: { $ref: "#/components/schemas/PixPayer" }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PixPayment" }
        "422": { $ref: "#/components/responses/Erro" }
    get:
      tags: [Pagamentos]
      summary: Situação do Pix do checkout
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PixPayment" }
        "404": { $ref: "#/components/responses/Erro" }
  /checkouts/{checkoutId}/payments/cancel:
    post:
      tags: [Pagamentos]
      summary: Cancela o pagamento em aberto
      description: Não cancela bilhete já emitido.
      parameters: [{ $ref: "#/components/parameters/CheckoutId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutId: { type: string }
                  status: { type: string, enum: [CANCELLED] }
                  ticketsAffected: { type: boolean }
  /checkouts/{checkoutId}/order:
    post:
      tags: [Pedidos]
      summary: Cria o pedido no fornecedor (F-…)
      parameters:
        - { $ref: "#/components/parameters/CheckoutId" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId: { type: string }
                  providerOrderNumber: { type: string, nullable: true }
                  status: { type: string, enum: [CREATED] }
  /payments/{paymentId}:
    get:
      tags: [Pagamentos]
      summary: Situação de um pagamento Pix
      parameters:
        - { name: paymentId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PixPayment" }
        "404": { $ref: "#/components/responses/Erro" }
  /orders/{orderId}:
    get:
      tags: [Pedidos]
      summary: Pedido completo
      parameters: [{ $ref: "#/components/parameters/OrderId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
        "404": { $ref: "#/components/responses/Erro" }
  /orders/{orderId}/status:
    get:
      tags: [Pedidos]
      summary: Situação resumida
      parameters: [{ $ref: "#/components/parameters/OrderId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId: { type: string }
                  status: { $ref: "#/components/schemas/OrderStatus" }
                  detail: { type: string, nullable: true }
                  customerPaymentStatus: { type: string, nullable: true }
                  supplierPaymentStatus: { type: string, nullable: true }
                  locator: { type: string, nullable: true }
                  providerOrderNumber: { type: string, nullable: true }
                  updatedAt: { type: string, format: date-time }
  /orders/{orderId}/tickets:
    get:
      tags: [Pedidos]
      summary: Bilhetes emitidos
      parameters: [{ $ref: "#/components/parameters/OrderId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId: { type: string }
                  tickets:
                    type: array
                    items: { $ref: "#/components/schemas/Ticket" }
  /orders/{orderId}/documents:
    get:
      tags: [Pedidos]
      summary: Documentos do pedido (links temporários de 15 minutos)
      parameters: [{ $ref: "#/components/parameters/OrderId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId: { type: string }
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        url: { type: string, nullable: true }
                        createdAt: { type: string, nullable: true }
                        expiresInSeconds: { type: integer, example: 900 }
  /flights/multicity/search:
    post:
      tags: [Multitrecho]
      summary: Pesquisa multitrecho (uma pesquisa só-ida por perna, na ordem informada)
      description: |
        Mínimo de 2 e máximo de 6 pernas. As ofertas de cada perna nunca se misturam
        e cada oferta tem seu próprio `offerId`. Se uma perna falhar, ela volta com
        `offers: []` e `error` preenchido — as demais continuam.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MultiCitySearchRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MultiCitySearchResponse" }
        "422": { $ref: "#/components/responses/Erro" }
        "503": { $ref: "#/components/responses/Erro" }
  /multicity/checkouts:
    post:
      tags: [Multitrecho]
      summary: Cria um checkout por perna e agrupa sob um groupId
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MultiCityCheckoutsRequest" }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MultiCityCheckoutsResponse" }
        "404": { $ref: "#/components/responses/Erro" }
        "422": { $ref: "#/components/responses/Erro" }
  /multicity/groups/{groupId}:
    get:
      tags: [Multitrecho]
      summary: Resumo do grupo multitrecho
      parameters: [{ $ref: "#/components/parameters/GroupId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MultiCityGroup" }
        "404": { $ref: "#/components/responses/Erro" }
  /multicity/groups/{groupId}/passengers:
    put:
      tags: [Multitrecho]
      summary: Aplica os mesmos passageiros a todos os checkouts do grupo
      parameters:
        [{ $ref: "#/components/parameters/GroupId" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [passengers]
              properties:
                passengers:
                  type: array
                  items: { $ref: "#/components/schemas/Passenger" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MultiCityPassengersResponse" }
        "404": { $ref: "#/components/responses/Erro" }
  /multicity/groups/{groupId}/revalidate:
    post:
      tags: [Multitrecho]
      summary: Reconfere o preço de cada perna do grupo
      parameters:
        [{ $ref: "#/components/parameters/GroupId" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reservations:
                  type: array
                  nullable: true
                  description: Valores mostrados ao cliente por perna. Sem isso, usa o valor guardado no grupo.
                  items:
                    type: object
                    required: [sequence, expectedAmount]
                    properties:
                      sequence: { type: integer }
                      expectedAmount: { type: number }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MultiCityRevalidateResponse" }
        "404": { $ref: "#/components/responses/Erro" }
webhooks:
  viaAirEvent:
    post:
      summary: Aviso enviado pela VIA AIR ao sistema consumidor
      description: |
        Cabeçalhos: `X-ViaAir-Signature: sha256=<hmac>`, `X-ViaAir-Timestamp` e `X-ViaAir-Event`.
        A assinatura é HMAC-SHA256 de `timestamp + "." + corpo bruto`, com a senha combinada.
        Responda HTTP 2xx. Sem 2xx, a VIA AIR repete em 1min, 5min, 15min, 1h, 6h e 24h.
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookEvent" }
      responses:
        "200": { description: Recebido }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Token no formato `vai_live_xxxxxxxxxxxxxxxxx` ou `vai_test_...`.
  parameters:
    CheckoutId:
      name: checkoutId
      in: path
      required: true
      schema: { type: string }
    GroupId:
      name: groupId
      in: path
      required: true
      schema: { type: string }
    OrderId:
      name: orderId
      in: path
      required: true
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 120 }
  responses:
    Erro:
      description: Erro normalizado
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ApiError" }
  schemas:
    MultiCitySearchRequest:
      type: object
      required: [legs]
      properties:
        legs:
          type: array
          minItems: 2
          maxItems: 6
          items:
            type: object
            required: [origin, destination, departureDate]
            properties:
              origin: { type: string, example: GRU }
              destination: { type: string, example: MIA }
              departureDate: { type: string, example: "2026-10-10" }
              originIsCity: { type: boolean, default: false }
              destinationIsCity: { type: boolean, default: false }
        adults: { type: integer, default: 1 }
        children: { type: integer, default: 0 }
        infants: { type: integer, default: 0 }
        cabinClass:
          type: string
          nullable: true
          enum: [ECONOMY, PREMIUM_ECONOMY, BUSINESS, FIRST]
        checkedBaggage: { type: boolean, default: false }
        maxStops: { type: integer, nullable: true }
        airlines:
          type: array
          items: { type: string }
    MultiCityLeg:
      type: object
      properties:
        sequence: { type: integer, example: 1 }
        origin: { type: string }
        destination: { type: string }
        departureDate: { type: string }
        totalCount: { type: integer }
        offers:
          type: array
          items: { $ref: "#/components/schemas/FlightOffer" }
        error:
          type: object
          nullable: true
          properties:
            code: { type: string }
            message: { type: string }
    MultiCitySearchResponse:
      type: object
      properties:
        searchId: { type: string, example: mcs_7f2c9a1b4d5e6f708192a3b4 }
        type: { type: string, enum: [MULTICITY] }
        currency: { type: string, enum: [BRL] }
        passengers:
          type: object
          properties:
            adults: { type: integer }
            children: { type: integer }
            infants: { type: integer }
        legs:
          type: array
          items: { $ref: "#/components/schemas/MultiCityLeg" }
    MultiCityCheckoutsRequest:
      type: object
      required: [searchId, offers]
      properties:
        searchId: { type: string, example: mcs_7f2c9a1b4d5e6f708192a3b4 }
        offers:
          type: array
          minItems: 2
          maxItems: 6
          items:
            type: object
            required: [sequence, offerId]
            properties:
              sequence: { type: integer }
              offerId: { type: string }
    MultiCityGroupStatus:
      type: string
      enum:
        [
          CREATED,
          PARTIALLY_CREATED,
          AWAITING_PAYMENT,
          PARTIALLY_PAID,
          PAID,
          PARTIALLY_ISSUED,
          COMPLETE,
          MANUAL_REVIEW,
          FAILED,
        ]
    MultiCityReservation:
      type: object
      properties:
        sequence: { type: integer }
        checkoutId: { type: string, nullable: true }
        origin: { type: string }
        destination: { type: string }
        departureDate: { type: string, nullable: true }
        amount: { type: number, nullable: true }
        status: { type: string }
        error:
          type: object
          nullable: true
          properties:
            code: { type: string }
            message: { type: string }
    MultiCityCheckoutsResponse:
      type: object
      properties:
        groupId: { type: string, example: grp_1a2b3c4d5e6f7a8b9c0d1e2f }
        type: { type: string, enum: [MULTICITY] }
        status: { $ref: "#/components/schemas/MultiCityGroupStatus" }
        reservations:
          type: array
          items: { $ref: "#/components/schemas/MultiCityReservation" }
        totalAmount: { type: number }
        currency: { type: string, enum: [BRL] }
    MultiCityGroup:
      type: object
      properties:
        groupId: { type: string }
        type: { type: string, enum: [MULTICITY] }
        status: { $ref: "#/components/schemas/MultiCityGroupStatus" }
        searchId: { type: string }
        currency: { type: string }
        totalAmount: { type: number }
        reservations:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/MultiCityReservation"
              - type: object
                properties:
                  orderId: { type: string, nullable: true }
                  paymentStatus: { type: string, nullable: true }
                  supplierPaymentStatus: { type: string, nullable: true }
                  locator: { type: string, nullable: true }
                  providerOrderNumber: { type: string, nullable: true }
                  ticketStatus: { type: string, enum: [ISSUED, PENDING] }
    MultiCityPassengersResponse:
      type: object
      properties:
        groupId: { type: string }
        passengersSaved: { type: integer }
        status: { type: string, enum: [APPLIED, PARTIALLY_APPLIED, FAILED] }
        reservations:
          type: array
          items:
            type: object
            properties:
              sequence: { type: integer }
              checkoutId: { type: string, nullable: true }
              status: { type: string, enum: [APPLIED, FAILED] }
              error:
                type: object
                nullable: true
                properties:
                  code: { type: string }
                  message: { type: string }
    MultiCityRevalidateResponse:
      type: object
      properties:
        groupId: { type: string }
        status: { type: string, enum: [VALID, PRICE_CHANGED, UNAVAILABLE] }
        reservations:
          type: array
          items:
            type: object
            properties:
              sequence: { type: integer }
              checkoutId: { type: string, nullable: true }
              status: { type: string, enum: [VALID, PRICE_CHANGED, UNAVAILABLE] }
              previousAmount: { type: number, nullable: true }
              currentAmount: { type: number, nullable: true }
        previousTotal: { type: number }
        currentTotal: { type: number }
    ApiError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                [
                  unauthorized,
                  forbidden,
                  invalid_request,
                  not_found,
                  conflict,
                  rate_limited,
                  provider_error,
                  provider_unavailable,
                  provider_session_unavailable,
                  price_changed,
                  payment_declined,
                  internal_error,
                ]
            message: { type: string }
            provider: { type: string, nullable: true }
            retryable: { type: boolean }
            correlationId: { type: string }
            details: {}
    Airport:
      type: object
      properties:
        iata: { type: string }
        name: { type: string }
        city: { type: string }
        country: { type: string }
        isCity: { type: boolean, description: Quando true, o código representa a cidade (todos os aeroportos) }
        cityCode: { type: string, description: Código IATA da cidade a que o aeroporto pertence }
    FlightSearchRequest:
      type: object
      required: [origin, destination, departureDate]
      properties:
        origin: { type: string, example: GRU }
        destination: { type: string, example: GIG }
        departureDate: { type: string, format: date }
        returnDate: { type: string, format: date, nullable: true }
        adults: { type: integer, default: 1, minimum: 1, maximum: 9 }
        children: { type: integer, default: 0, maximum: 9 }
        infants: { type: integer, default: 0, maximum: 9 }
        cabinClass:
          type: string
          nullable: true
          enum: [ECONOMY, PREMIUM_ECONOMY, BUSINESS, FIRST]
        checkedBaggage: { type: boolean, default: false }
        maxStops: { type: integer, nullable: true, minimum: 0, maximum: 3 }
        airlines:
          type: array
          items: { type: string }
        originIsCity: { type: boolean, default: false }
        destinationIsCity: { type: boolean, default: false }
    FlightSearchResponse:
      type: object
      properties:
        searchId: { type: string, example: srh_3b1c }
        roundTrip: { type: boolean }
        currency: { type: string, example: BRL }
        totalCount: { type: integer }
        outbound:
          type: array
          items: { $ref: "#/components/schemas/FlightOffer" }
    FlightOffer:
      type: object
      properties:
        offerId: { type: string, example: off_9f2c6f4b }
        airline:
          type: object
          properties:
            iata: { type: string, nullable: true }
            name: { type: string, nullable: true }
        flightNumber: { type: string }
        origin: { type: string }
        destination: { type: string }
        departureAt: { type: string, nullable: true }
        arrivalAt: { type: string, nullable: true }
        durationMinutes: { type: integer, nullable: true }
        stops: { type: integer }
        price:
          type: object
          properties:
            amount: { type: number }
            tax: { type: number }
            total: { type: number }
            currency: { type: string, example: BRL }
            passengers: { type: integer }
        segments:
          type: array
          items: { $ref: "#/components/schemas/FlightSegment" }
        fares:
          type: array
          items: { $ref: "#/components/schemas/FareOption" }
    FlightSegment:
      type: object
      properties:
        flightNumber: { type: string }
        airline:
          type: object
          properties:
            iata: { type: string, nullable: true }
            name: { type: string, nullable: true }
        origin: { type: string }
        destination: { type: string }
        departureAt: { type: string, nullable: true }
        arrivalAt: { type: string, nullable: true }
        cabinClass: { type: string, nullable: true }
    FareOption:
      type: object
      properties:
        fareKey: { type: string }
        price: { type: number }
        tax: { type: number }
        total: { type: number }
        fareFamily: { type: string, nullable: true }
        cabinClass: { type: string, nullable: true }
        checkedBaggage: { type: boolean }
    Passenger:
      type: object
      required: [firstName, lastName, gender, birthDate, documentNumber]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        type: { type: string, enum: [ADT, CHD, INF], default: ADT }
        gender: { type: string, enum: [M, F] }
        birthDate: { type: string, format: date }
        documentNumber: { type: string }
        documentType: { type: integer, default: 1, description: 1 = CPF }
        nationalityCountryId: { type: integer, default: 30, description: 30 = Brasil }
        email: { type: string, nullable: true, description: Somente o primeiro passageiro }
        phone: { type: string, nullable: true, description: Somente o primeiro passageiro }
    Payer:
      type: object
      required:
        [firstName, lastName, documentNumber, birthDate, email, phone, zipCode, street, number, neighborhood, city, state]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        documentNumber: { type: string }
        birthDate: { type: string, format: date }
        email: { type: string }
        phone: { type: string }
        zipCode: { type: string }
        street: { type: string }
        number: { type: string }
        complement: { type: string }
        neighborhood: { type: string }
        city: { type: string }
        state: { type: string }
    PixPayer:
      type: object
      required: [name, documentNumber]
      properties:
        name: { type: string }
        email: { type: string }
        documentNumber: { type: string }
    Checkout:
      type: object
      properties:
        checkoutId: { type: string }
        status: { type: string, enum: [ACTIVE, EXPIRED] }
        currency: { type: string, example: BRL }
        amount:
          type: object
          properties:
            fare: { type: number }
            taxes: { type: number }
            total: { type: number }
        passengersCount:
          type: object
          properties:
            adults: { type: integer }
            children: { type: integer }
            infants: { type: integer }
        flights: {}
        prices: {}
        installments: {}
        passengers: {}
        passengersSaved: { type: boolean }
    PaymentMethod:
      oneOf:
        - type: object
          properties:
            method: { type: string, enum: [CARD] }
            maxCards: { type: integer, example: 3 }
            holderDocumentRequired: { type: boolean }
        - type: object
          properties:
            method: { type: string, enum: [PIX] }
            provider: { type: string, enum: [VIAAIR_ASAAS] }
    InstallmentOption:
      type: object
      description: Opção tal como devolvida pela operadora.
      properties:
        installment: { type: integer, description: Número de parcelas }
        installmentsValue: { type: number, description: Valor de cada parcela }
        total: { type: number }
        interestRate: { type: number }
        hasRate: { type: boolean }
        firstInstallmentAddition: { type: number }
        split: { type: boolean }
    CardToken:
      type: object
      properties:
        cardToken: { type: string }
        cardKey: { type: string }
        brand: { type: string }
        cardBin: { type: string }
        lastDigits: { type: string }
    CardPayment:
      type: object
      required:
        [cardToken, cardKey, brand, cardBin, lastDigits, holderName, documentNumber, expirationMonth, expirationYear, amount, installments]
      properties:
        cardToken: { type: string }
        cardKey: { type: string }
        brand: { type: string }
        cardBin: { type: string }
        lastDigits: { type: string }
        holderName: { type: string }
        documentType: { type: integer, default: 1 }
        documentNumber: { type: string }
        expirationMonth: { type: integer, minimum: 1, maximum: 12 }
        expirationYear: { type: integer, example: 2029 }
        amount: { type: number }
        installments: { type: integer, minimum: 1, maximum: 24 }
        interestRate: { type: number, default: 0 }
    PixPayment:
      type: object
      properties:
        paymentId: { type: string }
        txid: { type: string }
        orderId: { type: string, nullable: true }
        amount: { type: number, nullable: true }
        currency: { type: string, example: BRL }
        qrCode: { type: string, nullable: true, description: Copia-e-cola (EMV) }
        qrCodeImage:
          type: string
          nullable: true
          description: "Data URI pronta para <img src>: data:image/png;base64,…"
        invoiceUrl: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [ACTIVE, PAID, EXPIRED, CANCELLED, REFUNDED] }
        provider: { type: string, enum: [VIAAIR_ASAAS] }
        createdAt: { type: string, format: date-time }
    OrderStatus:
      type: string
      enum:
        - CREATED
        - AWAITING_PAYMENT
        - CUSTOMER_PAYMENT_PAID
        - SUPPLIER_PAYMENT_PENDING
        - SUPPLIER_PAYMENT_PAID
        - SUPPLIER_PAYMENT_REVIEW
        - WAITING_RESERVATION
        - LOCATOR_RECEIVED
        - TICKETS_RECEIVED
        - COMPLETE
        - PRICE_CHANGED
        - MANUAL_REVIEW
        - FAILED
        - CANCELLED
    Ticket:
      type: object
      properties:
        passenger: { type: string, nullable: true }
        ticketNumber: { type: string, nullable: true }
        pnr: { type: string, nullable: true }
        airline: { type: string, nullable: true }
        status: { type: string, nullable: true }
    Order:
      type: object
      properties:
        orderId: { type: string }
        viaairOrderId: { type: string, nullable: true }
        providerOrderNumber: { type: string, nullable: true }
        saleId: { type: string, nullable: true }
        status: { $ref: "#/components/schemas/OrderStatus" }
        rawState: { type: string, nullable: true }
        amount: { type: number, nullable: true }
        currency: { type: string }
        paymentMethod: { type: string, nullable: true }
        customerPaymentStatus: { type: string, nullable: true }
        supplierPaymentStatus: { type: string, nullable: true }
        locator: { type: string, nullable: true }
        passengers:
          type: array
          items: {}
        tickets:
          type: array
          items: { $ref: "#/components/schemas/Ticket" }
        lastError: { type: string, nullable: true }
        createdAt: { type: string }
        updatedAt: { type: string }
    WebhookEvent:
      type: object
      properties:
        id: { type: string }
        event:
          type: string
          enum:
            - checkout.updated
            - customer.payment.paid
            - customer.payment.failed
            - supplier.payment.pending
            - supplier.payment.paid
            - supplier.payment.failed
            - order.created
            - order.locator.received
            - order.ticket.received
            - order.completed
            - order.failed
            - checkout.session.required
            - checkout.session.restored
            - checkout.session.failed
        createdAt: { type: string, format: date-time }
        data: { type: object }
